body {
  font-family: Arial;
}

.centered {
  text-align: center;
}

.chart-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
}

.chart-item {
  width: 500px;
  border: solid;
  border-width: thick;
  margin: 1em;
}

.resizing-image {
  width: 100%;
  height: auto;
}

.padded {
  padding: 1em;
}

#shapes {
  display: flex;
  gap: 3%;
  justify-content: space-evenly;
}

.shape {
  margin: 1em;
}

.shape:hover {
  filter: brightness(0.65);
}

ul {
  text-align: left;
  display: inline-block;
}